<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title><%= title %></title>
    <link rel='stylesheet' href='/creditmobile/base/css/ionic/ionic.css' />
    <script src="/creditmobile/base/js/??sea.js,seajs-combo.js,seajs-config.js,bootstrap.js"></script>
  </head>
  <body>
    <ion-nav-view></ion-nav-view>
  </body>
</html>
