<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="flexible" content="initial-dpr=1" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/creditmobile/base/css/ionic/ionic.css' />
    <script src="/creditmobile/base/lib-flexible/0.3.4/??flexible.js,flexible_css.js"></script>
    <script src="/creditmobile/base/js/??sea.js,seajs-combo.js,seajs-config.js,bootstrap.js"></script> 
  </head>
  <body>
    <ion-nav-bar animation="nav-title-slide-ios7" 
             type="bar-positive" 
             back-button-type="button-icon" 
             back-button-icon="ion-arrow-left-c"></ion-nav-bar>
             
    <ion-nav-view animation="slide-left-right"></ion-nav-view>
  </body>
</html>
